

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
html{
    font-size: 62.5%;
    background-image: url(../image/MainBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}